<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/appointment-picker.css">

    <script script src="js/appointment-picker.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>CeeCee's Salon</title>
</head>
<body>
  <header class="text-center">

        <h1>Welcome to CeeCee's Salon</h1>
        <p>Your Hair Beauty, Our Duty</p>

    </header>

    <div class="flex-container">
        <div class="row">
          <div class="col-12 col-4">
            <section class="navsidebar navcontainer">
                <ul class="links">
                    <li><a href="/">Home</a></li>

                    {{#if loggedIn}}
                     <button class="no-button" id="logout">Logout</button>
                     {{else}}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Sign up here</a></li>
                    {{/if}}
                </ul>
            </section>
          </div>
          <aside class="col-12 col-8 col-md-6 content">
            <br>
            <div class="row justify-content-between body-container">
                    {{{body}}}
            </div>
          </aside>
        </div> 
    </div>

  <!-- Render script for logged in users only -->
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

 <style>
        @import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Henny+Penny&family=Mystery+Quest&display=swap');
        </style>
        <script script src="js/appointment-picker.min.js"></script>
        <script type="text/javascript">
          new AppointmentPicker(...);
        </script>  
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        
</body>
       
</html>
