<div class="modifyServices">
<a href="/admin/services">
<button class="btn btn-primary" id="modify" >Add / Modify 
Services</button>
</a>
</div>

{{!-- {{#if appts.length}} --}}
<div class="col-md-6 appt-list mt-5">
  <h3>Current Appointments</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Client</th>
      <th scope="col">Service</th>
    </tr>
  </thead>
  {{#each appts as |appt|}}
  <tbody>
    <tr>
      <th scope="row">{{date}}</th>
      <td>{{time}}</td>
      <td>{{user_id}}</td>
      <td>{{services_id}}</td>
    </tr>
  </tbody>
  {{/each}}
</table>
{{!-- {{/if}} --}}
</div>
