<h3>Book Your Appointment</h3>
    <h3><small><em>Book your service appointment</em></small><br/>Date and Time Appt. Calendar</h3>
    <p>Pick date and time slot. Eg: <strong><em>Fri, 27 Nov 2020, 10 AM - 11 AM</em></strong>.</p>
    <!-- OUR WEB COMPONENT, PROPERTIES ARE OPTIONAL. -->
    <datetime-slot-picker 
      placeholder="Pick a date and time slot" 
      time-slots-text="Time Slot"
      no-slots-text="No slots are available" 
      >
    </datetime-slot-picker>
  
    <!-- SHOWING ALL OPTIONAL PROPERTIES
    <datetime-slot-picker 
      placeholder="Pick a time slot" 
      time-slots-text="Time"
      no-slots-text="No slots are available" 
      language="en"
      am-pm-disabled
      dates-hidden-when-times-shown
      >
    </datetime-slot-picker> -->
