<h3>Book Your Appointment</h3>
    <h3><small><em>Book your service appointment</em></small><br/>Date and Time Appt. Calendar</h3>
    <p>Pick date and time slot. Eg: <strong><em>Fri, 27 Nov 2020, 10 AM - 11 AM</em></strong>.</p>
