<form class="login-form">
    <div class="mb-3">
        <h3>Login</h3>
        <label class="form-label">email</label>
        <input type="email" class="form-control" id="login-email">
    </div>

    <div class="mb-3">
        <label for="user-password" class="form-label">Password</label>
        <input type="password" class="form-control" id="login-password">
    </div>

    <div class="mb-3 form-check">
        <a href="/signup">Do not have an account? Go here to sign up!</a>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="js/login.js"></script>