

<div class="card" style="width: 18rem;">
    {{#each service}}
    <img src="./assets/istockphoto-915356872-612x612.jpg" class="card-img-top" alt="Service Picture Placeholder">
    <div class="card-body">
       <h5 class="card-title">{{name}}</h5>
        <p class="card-text">
    <ul>
        <li>Description:{{description}}</li>
        <li>Duration:{{duration}}</li>
        <li>Price:{{price}}</li>
    </ul>
        </p>
        <a href="/appointment" class="btn btn-primary">Reserve an appointment now</a>
    </div>
    {{/each}}
</div>

