<div class="card" style="width: 18rem;">
    <img src="./assets/istockphoto-915356872-612x612.jpg" class="card-img-top" alt="Service Picture Placeholder">
    <div class="card-body">
       <h5 class="card-title">Name of Service Here</h5>
        <p class="card-text">
    <ul>
        <li>Description:</li>
        <li>Duration:</li>
        <li>Price:</li>
    </ul>
        </p>
        <a href="/appointment" class="btn btn-primary">Reserve an appointment now</a>
    </div>
</div>