:root {
    --bgcdark: #231F20;
    --bgclight: #EAEAEA;
    --fcdark: #8E793E;
    --fclight: #AD974F;
}

h1{
    font-size: 4.5rem;
}

header {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdg-gTpJQVxeZp1P8WfymtepP_iCQWx1P2rw7K37ZyngvtO7cK5icexEhnosK-vHX9Qlk&usqp=CAU);
    height: 10rem;
    color: var(--fclight);
    font-size: 2.5rem;
    justify-content: center;
    text-align: center;
}

.flex-container{
    display: flex;
    justify-content: flex-start;
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: var(--fclight);
    font-size: 1.5rem;
    text-align: start;
  }

body {
    background-color: var(--bgclight);
    /* font-family: 'Bigelow Rules', cursive; */
    font-family: 'Mystery Quest', cursive;
}


.navcontainer {
    /* background-color: var(--bgcdark); */
    background-image: url(https://us.123rf.com/450wm/strizh/strizh2207/strizh220700013/188568348-abstract-gold-waves-shiny-golden-moving-lines-design-element-on-dark-background-for-greeting-card-an.jpg?ver=6);
    height: 155vh;
    position: absolute;
    width: 10vw;
}

.links li {
    margin-top: 20px;
    list-style-type: none;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--fclight);
    font-size: 1.5rem;
    text-align: start;
}

.card {
    background-color: var(--bgclight);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px var(--fcdark);
}

.btn {
    background-color: var(--bgcdark);
    color: var(--fclight)
}

.content {
    margin-left: 350px;
  }
  
  h3 {
      color: var(--fclight);
      font-weight: bold;
  }
  
  ::placeholder {
      color: var(--fclight) !important;
  }
  
  .apt-box {
      background-color: var(--bgclight) !important;
  }

  .card {
    width: 18rem;
  }

  @media screen and (max-width: 1440px) {
    header {
        width: 101vw;
    }
  }
  
@media screen and (max-width: 1024px) {
    h1{
        font-size: 3rem;
    }
    header {
        font-size: 1.5rem;
        width: 112vw;
    }
    .navcontainer{
        height: 170vh;
    }
    a {
        font-size: 1rem;
    }

    .no-button {
        font-size: 1rem;
    }
    .content {
        margin-left: 200px;
      }

      .card {
        width: 15rem;
      }
}


@media screen and (max-width: 768px) {
    h1{
        font-size: 2.7rem;
    }
    header {
        font-size: 1.5rem;
        width: 105vw;
    }

    .navcontainer{
        width: 15vw;
    }
    
    .content {
        margin-left: 150px;
      }

    .card {
        width: 11rem;
      }

      h5 {
        font-size: .8rem;
    }

    .btn {
        font-size: .6rem;
    }

    body {
        font-size: .7rem;
    }

    .navcontainer{
        height: 120vh;
    }
}

@media screen and (max-width: 425px) {
    h1{
        font-size: 2rem;
    }
    header {
        font-size: 1rem;
        height: 10vh;
        width: 127vw;
    }

    .navcontainer{
        width: 20vw;
    }

    a {
        font-size: .7rem;
    }

    .no-button {
        font-size: .7rem;
    }

    h5 {
        font-size: .8rem;
    }

    .btn {
        font-size: .55rem;
    }

    body {
        font-size: .5rem;
    }

    .content {
        margin-left: 100px;
    }
  
    .card {
        width: 12rem;
      }
      
}
@media screen and (max-width: 375px) {
    h1{
        font-size: 2rem;
    }
    header {
        font-size: 1rem;
        width: 130vw;
    }
    .navcontainer{
        height: 200vh;
    }
}

@media screen and (max-width: 320px) {
    h1{
        font-size: 1.3rem;
    }
    header {
        font-size: .8rem;
        width: 135vw;
    }
}