:root {
    --bgcdark: #231F20;
    --bgclight: #EAEAEA;
    --fcdark: #8E793E;
    --fclight: #AD974F;
}

h1{
    font-size: 4.5rem;
}

header {
    background-color: var(--bgcdark);
    height: 20vh;
    color: var(--fclight);
    font-size: 2.5rem;
}

body {
    background-color: var(--bgclight);
    /* font-family: 'Bigelow Rules', cursive; */
    font-family: 'Mystery Quest', cursive;
}


.navcontainer {
    background-color: var(--bgcdark);
    height: 100vh;
    position: absolute;
}

.links li {
    margin: 3rem;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--fclight);
    font-size: 1.5rem;
}

.card {
    background-color: var(--bgclight);
}

.btn {
    background-color: var(--bgcdark);
    color: var(--fclight)
}
